.container-home {
  padding: 80px;
  display: flex;
  justify-content: center;
  gap: 5em;

  & h1 {
    font-size: 3.5rem;
    text-wrap: balance;
    text-align: left;
  }
}
.container-home section {
  width: 450px;
  & p {
    margin-top: 32px;
    font-size: 1.5rem;
  }
}
.container-img {
  background-image: url('../assets/home-section-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  border-radius: 5px;
}
.w-hr {
  display: flex;
  justify-content: center;
}
hr {
  text-align: center;
  width: 60vw;
}
