.menu {
  display: flex;
  gap: 16px;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 16px 7px;
  color: black;
  font-weight: 500;
}

.active-link {
  border-bottom: 1px solid;
}