.container-table {
  background-color: aliceblue;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px ;
}
h1 {
  text-align: center;
}

th {
  text-align: center;
}
td {
  text-align: left;
}
tr {
  display: flex;
}
table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 50vw;
  max-height: 30vh;
  min-height: 30vh;
}
th,td {
  flex: 1;
  padding: 10px;
}
th:nth-child(2) {
  flex: 2;
}
th {
  background-color: #1abc9c;
  color: #19191a;
}
h1 {
  color: #19191a;
}
.tbody tr td:nth-child(2) {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
tr:nth-child(odd) { 
  background-color: #E0E0E0;
}
.thead {
  display: flex;
  position: sticky;
}
#btn-edit {
  color: darkblue;
  font-size: 1.2rem;
  cursor: pointer;
}
#btn-delete {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-table button {
  background-color: inherit;
  border: none;
}
.tbody {
  overflow-y: scroll;
  scrollbar-color:#34495e transparent; /* Cambia los colores aquí */
}
.container-btn {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.tbody td:nth-last-child(2), .tbody td:nth-last-child(3)  {
  text-align: center;
}
input[type=checkbox] {
  transform: scale(1.2);
}
.task-complete {
  text-decoration: line-through;
  color: #58585c;
}

.container-filters {
  padding: 10px 0px;
  display: flex;
  gap: 15px;
}
.container-filters button {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.container-filters button:hover {
    text-decoration: underline;
}
